@import "constants/sizes";

.cases {
	padding: 18px 0;

	@media screen and (min-width: $tablet) {
		padding: 50px 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 60px 0;
	}
}

.casesWrapper {
	margin-bottom: 26px;
}

.casesTitle {
	color: #173d33;
	font-family: Oswald;
	font-size: 28px;
	line-height: 1;
	text-transform: uppercase;
}

.casesNavigateWrapper {
	display: flex;
	gap: 104px;
	align-items: end;
}

.counterOfSlides {
	color: #173d33;
	text-align: justify;
	font-family: Fira Sans;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: -1.12px;
}

.allCountOfSlides {
	color: rgba(23, 61, 51, 0.25);
}

.arrowsOfSlider {
	display: flex;
	gap: 12px;
}

.navigateSliderBtn {
	width: 66px;
	height: 66px;
	padding: 15px;

	border-radius: 100px;
	border: 1px solid #173d33;
}

.leftArrowIcon {
}

.rightArrowIcon {
}

.slider {
}

// ! ------------------------------------------
.sliderCard {
}

.sliderImg {
}

.sliderCardInfoBox {
	display: flex;
	flex-direction: column;
	padding: 24px 12px 12px 12px;

	background-color: #eaedf1;

	&::after {
		content: "";
		display: block;
		height: 1px;
		margin-bottom: 12px;

		background-color: #97d28b;

		order: 2;
	}
}

.sliderTitleWrapper {
	display: flex;
	gap: 61px;
	margin-bottom: 21px;

	order: 1;
}

.sliderTitle {
	color: #173d33;
	text-align: justify;
	font-family: Fira Sans;
	font-size: 18px;
	letter-spacing: -0.72px;
}

.sliderBtn {
	height: 60px;
	padding: 16px;
	border-radius: 100px;
	background-color: #97d28b;
}

.sliderCardIcon {
}

.sliderDescrWrapper {
	display: flex;
	gap: 76px;

	order: 3;
}

.sliderInfoDescr {
	color: #173d33;
	text-align: justify;
	font-family: Fira Sans;
	font-size: 12px;
	letter-spacing: -0.48px;
}

.sliderDate {
	color: #173d33;
	font-family: Fira Sans;
	font-size: 12px;
	letter-spacing: -0.48px;
}
