@import "constants/sizes";

.footer {
	padding-top: 18px;
	padding-bottom: 24px;

	background-color: #f3f5fa;

	@media screen and (min-width: $tablet) {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 60px;
	}
}

.footerBody {
	&::before {
		content: "";
		display: block;
		height: 1px;
		margin-bottom: 24px;

		background-color: #97d28b;

		@media screen and (min-width: $tablet) {
			margin-bottom: 40px;
		}
	}
}

.footerTop {
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 19px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 16px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 84px;
	}

	@media screen and (min-width: $desktop) {
		display: flex;
		justify-content: space-between;
		gap: 0;
	}
}

.footerLogoLink {
	display: flex;
	align-items: center;
	gap: 4px;

	color: #173d33;

	&:hover,
	&:focus {
		color: #97d28b;
	}
}

.logo {
}

.logoTitle {
	font-family: "All Round Gothic Thick";
	color: currentColor;
	font-size: 33px;
	letter-spacing: -1.32px;
}

.logoPreTitle {
	font-family: "CA Saygon Text";
	color: #173d33;
	font-size: 10px;
	line-height: 9px;
	letter-spacing: -0.4px;
}

.greenLogoPreTitle {
	color: #97d28b;
}

.footerUp {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 8px;

	border-radius: 100px;
	background-color: #97d28b;

	cursor: pointer;

	&:hover,
	&:focus {
		color: #97d28b;
		background-color: #173d33;
	}

	@media screen and (min-width: $tablet) {
		justify-self: end;
	}
}

.footerArrowUpIcon {
	stroke: currentColor;
}

.footerSocialList {
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
	gap: 8px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 0;
		justify-self: start;
	}
}

.footerSocialItem {
}

.footerSocialLink {
	color: #173d33;

	&:hover,
	&:focus {
		color: #97d28b;
	}
}

.footerSocialIcon {
	stroke: currentColor;
}

.footerLinkList {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@media screen and (min-width: $tablet) {
		display: grid;
		grid-template-columns: 289px 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 64px;
	}

	@media screen and (min-width: $desktop) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}
}

.footerLinkItem {
	display: flex;
	justify-content: center;

	@media screen and (min-width: $tablet) {
		display: block;
	}

	@media screen and (min-width: $desktop) {
		display: flex;

		&:first-child {
			margin-right: 184px;
		}
	}
}

.footerLink {
	color: #173d33;
	font-family: Fira Sans;
	font-size: 16px;
	letter-spacing: -0.64px;

	&:hover,
	&:focus {
		color: #97d28b;
	}
}

.footerCopy {
	text-align: center;
	color: #173d33;
	font-family: Fira Sans;
	font-size: 16px;
	letter-spacing: -0.64px;

	@media screen and (min-width: $tablet) {
		display: inline-block;
		text-align: end;
	}
}
